<h3>Список задач</h3>
<table class="table">
    {{#each tasks}}
        <tr>
            <td>{{id}}</td>
            <td>{{task}}</td>
            <td>{{flag}}</td>
        </tr>
    {{/each}}
</table>